/* Beetroot and Darkbeet colors */

body {
    background: url(images/disroot-root.png) center no-repeat;
    background-size: 30%;
    opacity: 0.8;
}

html.dark-mode > body {
    background-color: #2b2f3b;
    background-blend-mode: overlay;
}