// Beetroot and Darkbeet colors 
@color-main:                #50162d; 
@color-light-main:          #61273E;
@color-lighter-main:        #72384F;
@color-link:                #BD899E;
@color-highlight:           #1F5C60;
@color-success:             #4F8F93;
@color-warning:             #8eb726; 
@color-white:               #DDDDDD;
@color-link-secondary:      lighten(@color-font, 60%);
@color-layout-header-background:    #50162d;

// Task menu
@color-taskmenu-background:                     #50162d; 
@color-taskmenu-button-action:                  #72384f;
@color-taskmenu-button-special:                 @color-taskmenu-button;
@color-taskmenu-button-special-background:      @color-taskmenu-background;
@color-taskmenu-button-action-hover:            #DDDDDD; 
@color-taskmenu-button-special-hover:           lighten(@color-taskmenu-button-special, 10%);
// @color-taskmenu-button-special-background-hover:lighten(@color-taskmenu-button-special-background, 10%);

// Toolbar
@color-toolbar-button-background-hover: lighten(@color-layout-header-background, 10%);
@color-searchbar-icon-active:           #8eb726;

// Popovers (menus)
@color-popover-header:              @color-black-shade-text;
@color-popover-header-background:   transparent;

//Forms
@color-btn-secondary-background:    lighten(@color-main, 10%);

// Dark mode colors
@color-dark-main:           @color-main;
@color-dark-background:     #2b2f3b;
@color-darker-background:   #1f222b;
@color-dark-font:           #DDDDDD;
@color-dark-border:         #1f222b;
@color-dark-taskmenu-button-action:          #4F8F93;
@color-dark-taskmenu-button-action-hover:    @color-dark-font;
@color-dark-input-background:           @color-darker-background;

@color-dark-list-selected:              #DDDDDD; 
@color-dark-list-selected-background:   #50162D;
@color-dark-list-droptarget-background: #383c4a;
@color-dark-list-border:                #383c4a;
@color-dark-input-border:               #471328;
@color-dark-input-addon-background:     #1f222b;
@color-dark-popover-background:         #1f222b;
@color-dark-popover-border:             #50162d;

// @color-taskmenu-background:          @color-darker-background;
@color-taskmenu-button-action:          @color-white;
@color-taskmenu-button-logout:          @color-error;
@color-taskmenu-button-logout-hover:      @color-error;

