// Darkbeet modifications based on elastic skin

html.dark-mode {

    // Have a black background when writing an email
    // .tox {
    //     .tox-edit-area__iframe {
    //         background-color: @color-dark-popover-background;
    //         color: @color-white;
    //     }  
    // }
    
    #taskmenu {
        a {
            &.selected {
                color: @color-white;
                background-color: @color-dark-list-selected-background;
            }
        }
        .action-buttons a {
            color: @color-white;
        }
    }
    .menu
        a.compose::before {
            color: @color-white;
        }
    #layout > div > .header,
    #layout-menu {
        background-color: @color-dark-popover-background;
        border: unset;
    }
    
    #layout-menu .special-buttons a:not(:focus) {
  background: @color-dark-border;
}

    // The two following are to get lighter borders when composing message (to: and subject:), when focus
    .custom-file-label:focus:not(.is-invalid), .form-control:focus:not(.is-invalid) {
        border-color: 3f;
    }

    .recipient-input.focus {
        border-color: @color-light-main !important;
    }
    
    // Get dotted line around attachment brighter
    .file-upload {
        border: .2rem dashed @color-main;
    }

    #messagelist {
        border: @color-dark-border 1px solid;
        background-color: @color-darker-background;
    }
}
